@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import './config-scss/normalize.scss';
@import './config-scss/variables.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss/btn.scss';
@import './config-scss/animations.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

main {
    max-width: rem-calc(600);
    margin: 0 auto;
}